#fondo1 {
    background-image: url('imagenes/fondo1.png');
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    /* margin-top: -100px; */
}
#fondo2 {
    background-image: url('imagenes/fondo2.png');
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -145px;
}
#fondo3 {
    background-image: url('imagenes/fondo3.png');
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -185px;

}
#fondo4 {
    background-image: url('imagenes/fondo4.png');
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -130;
}
#fondo5 {
    background-image: url('imagenes/fondo5.png');
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -115px;
}
#fondo6 {
    background-image: url('imagenes/fondo6.png');
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
#fondo7 {
    background-image: url('imagenes/fondo7.png');
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.up_Section {
    margin-top: -100px;
}