#fondo1 {
    background-image: url('../images/fondo1.png');
    height: 100%;
    width: auto;
    background-size: cover;
    background-repeat: no-repeat;
    /* margin-top: -100px; */
}
#fondo2 {
    background-image: url('../images/fondo2.png');
    height: 100%;
    width: auto;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -145px;
}
#fondo3 {
    background-image: url('../images/fondo3.png');
    height: 100%;
    width: auto;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -116px;

}
#fondo4 {
    background-image: url('../images/fondo4.png');
    height: 100%;
    width: auto;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -190;
}
#fondo5 {
    background-image: url('../images/fondo5.png');
    height: 100%;
    width: auto;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -145px;
}
#fondo6 {
    background-image: url('../images/fondo6.png');
    height: 100%;
    width: auto;
    background-size: cover;
    background-repeat: no-repeat;
}
#fondo7 {
    background-image: url('../images/fondo7.png');
    height: 100%;
    width: auto;
    background-size: cover;
    background-repeat: no-repeat;
}

.up-section {
    margin-top: -100px;
}

i, span, a {
    display: inline-block;
    text-decoration: none;
}

/*===========================
    11.FOOTER css 
===========================*/
.footer_area {
    background-color: #01151c;
    padding-top: 15px;
    padding-bottom: 30px;
  }
  
  .footer_menu ul li {
    display: inline-block;
    padding-top: 5px;
  }
  
  .footer_menu ul li + li {
    margin-left: 30px;
  }
  
  @media (max-width: 767px) {
    .footer_menu ul li + li {
      margin-left: 15px;
    }
  }
  
  .footer_menu ul li a {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.8);
    transition: all 0.3s ease-out 0s;
  }
  
  .footer_menu ul li a:hover {
    color: #fff;
  }
  
  .credit {
    font-size: 16px;
    color: #fff;
    padding-top: 15px;
  }
  
  .credit a {
    color: #fff;
  }
  
  .footer_social ul li {
    display: inline-block;
  }
  
  .footer_social ul li + li {
    margin-left: 30px;
  }
  
  .footer_social ul li a {
    font-size: 26px;
    color: rgba(255, 255, 255, 0.8);
    transition: all 0.3s ease-out 0s;
  }
  
  .footer_social ul li a:hover {
    color: #fff;
  }
  
  @media (max-width: 767px) {
    .footer_social ul li a {
      font-size: 20px;
    }
  }
  
  

/*===== BACK TO TOP =====*/
.back-to-top {
    font-size: 20px;
    color: #fff;
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    background-color: #80361d;
    text-align: center;
    z-index: 99;
    transition: all 0.3s ease-out 0s;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    display: none;
  }
  
  .back-to-top:hover {
    color: #fff;
    background-color: #a14728;
  }
  