#fondo1 {
    background-image: url('../images/fondo1.png');
    height: 1400px;
    background-size: cover;
    background-repeat: no-repeat;
    /* margin-top: -100px; */
}
#fondo2 {
    background-image: url('../images/fondo2.png');
    height:1200px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -165px;
}
#fondo3 {
    background-image: url('../images/fondo3.png');
    height: 1200px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -136px;

}
#fondo4 {
    background-image: url('../images/fondo4.png');
    height:1200px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -210px;
}
#fondo5 {
    background-image: url('../images/fondo5.png');
    height:1200px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -165px;
}
#fondo6 {
    background-image: url('../images/fondo6.png');
    height: 1200px;
    background-size: cover;
    background-repeat: no-repeat;
}
.fondo7 {
    background-image: url('../images/fondo7.png');
    height: 1500px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -110px;
}

#logo {
  width: 80%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #ffffff;
  margin: 0px;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #5A5872;
  margin: 0px;
}

/* .bg_cover {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
} */

.up-section {
    margin-top: -110px;
}

i, span, a {
    display: inline-block;
    text-decoration: none;
}

/*===== All Button Style =====*/
.main-btn {
  display: inline-block;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 0;
  padding: 0 40px;
  font-size: 16px;
  height: 55px;
  line-height: 55px;
  border-radius: 0;
  color: #fff;
  cursor: pointer;
  z-index: 5;
  transition: all 0.4s ease-out 0s;
  border-radius: 10px;
  background-color: #80361d;
}

.main-btn:hover {
  background-color: #bd5330;
  color: #fff;
}

/*===== All Section Title Style =====*/
.section_title .title {
  font-size: 30px;
  font-weight: 700;
  margin-top: 70%;
}


/*===========================
    10.CONTACT css 
===========================*/
.contact_area {
  position: relative;
  z-index: 5;
 
}

.contact_area::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  z-index: -1;
}

p.form-message.success, p.form-message.error {
  font-size: 16px;
  color: #ffffff;
  background: #F9F9F9;
  padding: 10px 15px;
  margin-top: 30px;
  background-color: #fff;
  margin-left: 15px;
}

p.form-message.success.form-message.error, p.form-message.error.form-message.error {
  color: #f00;
}

.single_form {
  margin-top: 30px;
}

.single_form input,
.single_form textarea {
  width: 100%;
  height: 55px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  padding: 0 25px;
  font-size: 16px;
  color: #fff;
  background: none;
  transition: all 0.3s ease-out 0s;
}

.single_form input:focus,
.single_form textarea:focus {
  border-color: #fff;
}

.single_form textarea {
  height: 170px;
  resize: none;
  padding-top: 15px;
}


/*===========================
    11.FOOTER css 
===========================*/
.footer_area {
    background-color: #01151c;
    padding-top: 15px;
    padding-bottom: 30px;
  }
  
  .footer_menu ul li {
    display: inline-block;
    padding-top: 5px;
  }
  
  .footer_menu ul li + li {
    margin-left: 30px;
  }
  
  @media (max-width: 767px) {
    .footer_menu ul li + li {
      margin-left: 15px;
    }
  }
  
  .footer_menu ul li a {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.8);
    transition: all 0.3s ease-out 0s;
  }
  
  .footer_menu ul li a:hover {
    color: #fff;
  }
  
  .credit {
    font-size: 16px;
    color: #fff;
    padding-top: 15px;
    padding-bottom: 20px;
  }
  
  .credit a {
    color: #fff;
  }
  
  
  .footer_social ul li {
    display: inline-block;
    padding-top: 15px;
  }
  
  .footer_social ul li + li {
    margin-left: 30px;
  }
  
  .footer_social ul li a {
    font-size: 26px;
    color: rgba(255, 255, 255, 0.8);
    transition: all 0.3s ease-out 0s;
  }
  
  .footer_social ul li a:hover {
    color: #fff;
  }
  
  @media (max-width: 767px) {
    .footer_social ul li a {
      font-size: 20px;
    }
  }
  
  

/*===== BACK TO TOP =====*/
.back-to-top {
    font-size: 20px;
    color: #fff;
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    background-color: #80361d;
    text-align: center;
    z-index: 99;
    transition: all 0.3s ease-out 0s;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    display: none;
  }
  
  .back-to-top:hover {
    color: #fff;
    background-color: #a14728;
  }
  
  .back-to-top i {
    padding-top: 8px;
  }